<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.PageTitle EventShare</title>
</head>
<body>
        <header>
        <navbar>
            <ul class="nav-list">
                <li class="nav-item">Start</li>
                <li class="nav-item">Events</li>
                <li class="nav-item">Members</li>
            </ul>
        </navbar> 
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
